/*>> Variables*/
/*Boxes*/
$bIndent: 2rem;
$bRule: 1.5rem;
$bMainPad: 1rem;
/*Colors*/
$cMain: #f8f3ca;
/*Imgs*/
$iStain: url("../imgs/stain.png");
/*Fonts*/
$fTitle: "Black Ops One", serif;
$fPara: "Special Elite", sans-serif;
$fList: none;
$fSize: (
    small: 1rem,
    medium: 1.5rem,
    large: 1.8rem,
);
/*Media Breakpoint*/
$mSmall: 400px;
