*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    
    background: linear-gradient(83deg, rgb(247, 72, 72)  42%,rgb(24, 199, 223) 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
span{
    margin-left: 0.5em;
}
#form{
    position: relative;
    top: 4vh;
    width: 35rem;
    left: 25vw;
    line-height: 30px;
}
legend{
    color: blue;
    font-weight: bold;
    font-size:13px;
}
label{
    display: inline-block;
    width:200px
}

