/* VARIABILI */
/* Boxes */
$bLogoPad:0.5rem;
$bLinkPad:1rem;
$bLinkMarR:1rem;
$bMainPad:1.5rem;
$bTextMar:2rem;
/* Colors */
$cLight:#cc00ff;
$cMain:#6600cc;
$cSecond:#330066;
$cDetail:#99ff33;
$cHigh:white;
/* Fonts */
$fTitle: 2.5rem;
$fText: 1.8rem;
$fType: 'Sintony', serif;
$fBold: 700;
$fMainLine:1.5rem;